*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
#select-container{
  display: flex;
  margin-bottom: 5rem;
    margin-top: 6rem;
}
/* main{
  width: 100vw;
  height: 100vh;
} */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
}
body{
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
}
#main{
  background-color: burlywood;
  padding: 3rem;
    border-radius: 1rem
}
h1{
  margin-bottom: 3rem;
  text-align: center;
  color: #000000b8;
    font-size: 2.4rem;
}
#buton-section{
  margin: 2rem;
}
#from-input{
  margin-top: 0.4rem;
}
#to-input{
  margin-top: 0.4rem;
}
.btn-class{
  background-color: #000000ab;
  color: white;
  border-radius: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
    top: 1rem;
    outline: none;
    box-shadow: 0px 1px 0px 2px #00000026;

}
.btnclass1{
  padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.btn-class:hover{
  background-color: rgba(0, 0, 0, 0.827);
}
.btn-class:active{
  transform: translatey(3px);
}
.text-class{
  font-size: 1.6rem;
    font-family: fangsong;
}
.text-class1{
  width: 17rem;
    height: 2rem;
    color: #000000ed;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}
.sel-option{
  width: 14rem;
    height: 1.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color: #000000c4;
}
